%h1 Radios List

%h2 All Radios : - #{@radios.length}
#show
  %table
    %thead
      %tr
        %td= "Title"
        %td= "Frequency"
        %td= "City"
        %td= "Url"
        %td= "Timezones"
    %tbody
      - @radios.each do |row|
        %tr
          %td= row.title
          %td= row.frequency
          %td= row.city
          %td= row.url + ":" + row.port
          %td= getTimezonesString(row)

